* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 12px;
  max-width: 550px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 30px;
}

.container {
  width: 320px;
  text-align: center;
  align-items: center;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: rgb(255, 254, 253);
}

li {
  list-style: none;
}

input {
  border: solid 5px;
  border-color: rgba(255, 255, 255, 0.866);
  -webkit-box-shadow: 9px 9px 18px 4px red;
  box-shadow: 3px 3px 3px 3px rgb(124, 124, 124);
}

input:hover,
input:focus {
  border-color: rgba(255, 255, 255, 0.827);
  -webkit-box-shadow: 9px 9px 18px 4px rgba(255, 0, 0, 0.6);
  box-shadow: 3px 3px 3px 3px rgba(255, 1, 1, 0.6);
}

.list-item {
  text-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: rgb(255, 127, 253);
  margin-left: 180px;
  margin-right: 180px;
}
